<%= form_for(@activity) do |f| %>
  

  <%if(@project)%>	
  	<%= hidden_field_tag(:project_id, @project.id) %>
  <%end%>

  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <% if @activity.id.nil? %>
		 <div class="field">
			<%= f.label :date %><br />
			<%= f.date_select :date %>
		</div> 
  <% else %> 
    <p>
		  <b>Date:</b>
		  <%= @activity.date %>
		</p>
  <% end %>

  
  <div class="field">
    <%= f.label :day_percent %><br />
    <%= f.text_field :day_percent %>
  </div>

	
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  
	<%if(!@project)%>
	<div class="field">
   		<%= f.label :project %><br />
   		<%= collection_select(:activity, :project_id, Project.all, :id, :name, {:prompt => true}) %>
 	  </p>
 	</div>
	<%end%>


  </div>
    <%= f.submit %>
  </div>
<% end %>
