<h1>Listing activities</h1>

<table>
  <tr>
    <th>Day</th>
    <th>Project</th>
    <th>Resource</th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%=h activity.day %></td>
    <td><%=h activity.project.title %></td>
    <td><%=h activity.resource.name %></td>
    <td><%= link_to 'Show', activity %></td>
    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td><%= link_to 'Destroy', activity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New activity', new_activity_path %>