<h1>Listing activities</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Hours</th>
	<th>Description</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%= activity.date %></td>
    <td><%= activity.hours_worked%></td>
	<td><%= activity.description %></td>
    <td><%= activity.project.name %></td>
    <td><%= activity.user.email %></td>
    <td><%= link_to 'Show', activity %></td>
    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td><%= link_to 'Destroy', activity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity', new_activity_path %>
