<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @activity.date %>
</p>

<p>
  <b>Description:</b>
  <%= @activity.description %>
</p>

<p>
	<b>Day Percent:</b>
	 <%= @activity.day_percent %>
</p>

<p>
  <b>Project:</b>
  <%= @activity.project.name %>
</p>

<p>
  <b>User:</b>
  <%= @activity.user.email %>
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
