<p>
  <b>Day:</b>
  <%=h @activity.day %>
</p>

<p>
  <b>Project:</b>
  <%=h @activity.project.title %>
</p>

<p>
  <b>Resource:</b>
  <%=h @activity.resource.name %>
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>